build
builds
sdkconfig
compile_commands_win.json
*.pyc
logs/
test/logs
devScripts/exerciseCommandSerial/.vscode/settings.json
scripts/config.ini
.venv
test/eepromPartitionTest/prewritedata.bin
test/eepromPartitionTest/readbackdata.bin

