# Define configuration
# Remove/repace these comments to set level to debug/info

#CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
#CONFIG_LOG_DEFAULT_LEVEL=4

# Serial flasher config
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Bluetooth
CONFIG_BT_ENABLED=n

# Common ESP-related
#CONFIG_ESP_MAIN_TASK_STACK_SIZE=10000
#CONFIG_ESP_IPC_TASK_STACK_SIZE=10000
#CONFIG_ESP_TASK_WDT_PANIC=y

# LWIP
CONFIG_LWIP_LOCAL_HOSTNAME="BusRaider"
CONFIG_LWIP_SO_RCVBUF=y

# FreeRTOS
CONFIG_FREERTOS_HZ=500
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
